CLOUDFLARE_TUNNEL_TOKEN=..
DATABASE_URL=..

SECRET_KEY=..
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

CORS_ORIGINS=["http://localhost:5173","https://taskflow-shawnscapes.dev"]
DEBUG=false
